@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Raleway:500&display=swap');
@import "_footer";

body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

